.collapseYear {
    background-color: coral;
    font-weight: bold;
    font-size: 42px;
}

.collapseYear__contentInner {
    font-weight: normal;
    font-size: medium;
}

.collapseMonth {
    background-color: blueviolet;
    margin-left: 25px;
    font-size: 25px;

}

.collapseMonth__contentInner {
    font-weight: normal;
    font-size: medium;
}